[submodule "toolbox"]
	path = toolbox
	url = https://github.com/liov/toolbox.git
[submodule "rfv"]
	path = rfv
	url = https://github.com/liov/rfv.git
[submodule "vscode"]
	path = vscode
	url = https://github.com/liov/vscode.git
